*.bak
*.dsk
*.~*
*.identcache
*.local
*.stat
/Hextor.res
/__history
/__recovery
/Test
/Win32
/Win64
/ModelSupport_Hextor
/Data/Temp
/HextorControlsPkg.res
/Hextor_project.tvsconfig
/Lib/HashLib!/*.dcu
/Build
/ControlsPkg/HextorControlsPkg.res
/PluginSrc/PluginTest/PluginTest.res
/Source/Hextor.res
/Installer/Output
/Installer/AppVersionDefine.inc
/Source/AppVersion.inc
/Source/Hextor_project.tvsconfig
